<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanyu-attack0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{193,108}}</string>
                <key>offset</key>
                <string>{-48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,108}}</string>
                <key>sourceSize</key>
                <string>{289,108}</string>
            </dict>
            <key>guanyu-attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,141},{167,80}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,24},{167,80}}</string>
                <key>sourceSize</key>
                <string>{289,108}</string>
            </dict>
            <key>guanyu-attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,141},{187,80}}</string>
                <key>offset</key>
                <string>{51,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,24},{187,80}}</string>
                <key>sourceSize</key>
                <string>{289,108}</string>
            </dict>
            <key>guanyu-stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,141},{89,114}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,114}}</string>
                <key>sourceSize</key>
                <string>{93,116}</string>
            </dict>
            <key>kongxiu-attack0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{271,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,137}}</string>
                <key>sourceSize</key>
                <string>{271,137}</string>
            </dict>
            <key>kongxiu-attack0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{271,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,137}}</string>
                <key>sourceSize</key>
                <string>{271,137}</string>
            </dict>
            <key>kongxiu-attack0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{271,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,137}}</string>
                <key>sourceSize</key>
                <string>{271,137}</string>
            </dict>
            <key>kongxiu-stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{174,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,132}}</string>
                <key>sourceSize</key>
                <string>{174,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fight-role.png</string>
            <key>size</key>
            <string>{955,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2de9e1f35a9b207ac906c7692a8569e7:1df151dc738399783dc706964d7d59d0:a7b850fb2e15c92190e581c0525d08bf$</string>
            <key>textureFileName</key>
            <string>fight-role.png</string>
        </dict>
    </dict>
</plist>
